<html>
    <head>
        <meta charset='UTF-8'>

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_orange-deep_purple.min.css" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'> 
		<title>Fornos LRX - Login</title>
    </head>

    <body>
        <div class="mdl-layout mdl-js-layout">
            <header class="mdl-layout__header">
              <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title">Fornos LRX</span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <button id="demo-menu-lower-right"
                          class="mdl-button mdl-js-button mdl-button--icon">
                      <i class="material-icons">more_vert</i>
                  </button>

                  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                      for="demo-menu-lower-right">
                      <li disabled class="mdl-menu__item mdl-menu__item--full-bleed-divider">Opção</li>
                      <form id="diarioLogbook" action="/diario" method="post">
                          <input type="submit" class="md1-menu__item" method="post">
                      </form>
                      <form id="getUserAnalysis" action="/oven/log" method="post">
                          <input class="mdl-menu__item" id="get_log" type="submit" value="Mostrar histórico de análises">
                          <input id="user_email" name="user_email" hidden>
                      </form>
                      <script>
                          $("document").ready(function(){
                              $("#user_email").val(session_user_name);
                          });
                      </script>

                      <form action="/auth/exit" method="POST" target="_self">
                          <li class="mdl-menu__item"> <button class="mdl-menu__item" type="submit"/> Sair </li>
                      </form>	
                  </ul>
              </div>
            </header>
      </div>
      <div>
        >
      </div>
      <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="http://malsup.github.com/jquery.form.js"></script>
    </body>
</html>