body {
	background-color: #EDE7F6;
	z-index:1;
}

.mdl-layout {
	background: url("../images/lrx_background.png") center;
	background-repeat: repeat;
	filter: hue-rotate(190deg);
}
.mdl-layout__content {
	width:100%;
	filter:hue-rotate(-190deg);
}

.mdl-layout__header {
	filter: hue-rotate(-190deg);
	z-index: 3;
}


.layer-0 > .main-cell {
	/* text-align: center; */
	/* justify-content: center; */
}

.card-wide > .mdl-card__title {
	background: url("../images/furnace.jpg") center/ cover;
	background-repeat: no-repeat;
	background-position: 0px 25%; 
}

/* .mdl-chip {
	position: absolute;
	right: 2%;
	top: 1%;
}

.mdl-card__title-text {
	font-size: 28px;
} */


.card-wide.mdl-card {
	/* width: 18%; */
	height: 500px;
	display:inline-flex;
}


.card-wide > .mdl-card__title {
	color: #fff;
	height: 200px;
}
.card-wide > .mdl-card__supporting-text {
	text-align: left;

}

/* #furnace-1-functions{
	float:right;
	
} */
/* #furnace-1-functions #chartContainer1{
	margin-top:-30%;
} */
/* .card-toggler.mdl-card {
	margin-top: 2%;
	width: 48%;
	flex-direction: column;
}

.card-toggler > .mdl-card__media {
	left: 0;
    position: absolute;
	width: 40%;
	height: 100%;
	overflow: hidden;
}

.card-toggler > .content {
	right: 0;
    position: absolute;
    width: 60%;
	height: 100%;
}

.card-toggler > .content.mdl-card__title {
	height: 30%;
}

.card-toggler > .content.mdl-card__actions {
	height: 30%;
} */



/* .chart-card.mdl-cell--12-col-desktop {
	height: 600px; 
	width: 400%; 
	margin-top: 2%;
} */

.card-toggler{
	height:200px;
}

@media screen and (max-width: 1080px) {
	.mdl-layout__header {
	    display: -webkit-flex; display: -ms-flexbox; display: flex;
		height: 10%;
		z-index:0;
	}
	.mdl-layout-title {
		font-size: 0px;
	}
	

	.layer-0 > .main-cell {
		margin-top: 15%;
	}
}

@media screen and (max-width:600px){
	#forno2,#forno3,#forno4{
		height:50px;
	}
	.oven_available{
		display:none;
	}
	#forno1{
		height:150px;
	}
	.card-toggler{
		margin-left:-2%;
	}
}
@media screen and (min-width:720px){
	.afazeres{
		float:right;
		margin-top:-200px;
	}
	body{
		overflow: hidden;
	}
	.mdl-layout__content{
		overflow:hidden
	}
}

.oven_available {
	display:inline;
	font-weight: bold;
}

.oven_ball {
	width:40px;
	height:30px;
	-webkit-border-radius: 99px;
	-moz-border-radius: 99px;
	border-radius: 99px;
	display:inline-block;
}

#furnace-1-action-button {
	display:inline-block;
}

#furnace-1-functions{
	float:right;
}

#furnace-2-functions{
	float:right;
}
#furnace-3-functions{
	float:right;
}
#furnace-4-functions{
	float:right;
}
/* .afazeres{
	background-color: transparent;
} */
.afazeres ul{
	overflow:auto;
	height:250px;
}

#voltarForno{
	position:fixed;
	float:left;
	z-index: 2;
	margin-top:-9vh;
}
#voltarForno:hover{
	transition:0.5s;
	transform:scale(1.2);
}

